*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #020100d9;
}

#container{
    display: flex;
    gap: 40px;
    color: white;
}
#container .circle{
    position: relative;
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.circle svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

#container div{
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
}

#container .ap{
    position: relative;
    font: 1em;
    transform: translate(-20px);

}

#container .circle svg circle{
    position: relative;
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: #191919;
    stroke-width: 4;
    transform: translate(5px,5px);

}
#container .circle svg circle:nth-child(2){
    stroke:var(--clr);
    stroke-dasharray: 440;
}
.dots{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
}
span{
    position: absolute;
    font-size: 0.35em;
font-weight: 300;
letter-spacing: 0.1em;
text-transform: uppercase;
transform: translate(-50%) translateY(5%);

}
.dots::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: var(--clr);
    border-radius: 50%;
    top: 2px;
    box-shadow: 0 0 20px var(--clr),0 0 60px var(--clr);

}